
/*
body {
    background-image: url("bui.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 20% -30%; 
}
*/

body{

}




#home{
    top: 2%;
    left: 2%;
    position: fixed;
    font-family: "font2";
    font-weight: bold;
    font-size:40pt;



    letter-spacing: 0pt;

}

h1{
    text-align: center;
    font-family: "test1";
    font-weight: lighter;
    vertical-align: center;
    font-size: 15pt;

    text-align: left;

    float:left;

    line-height: 1em;
}

#intro{
    margin-top:1%;
    width: 80%;
    margin-left:20.5%;

    margin-bottom: 0%;
    font-size:18pt;
    color: black;

    line-height: 1em;

    text-align: center;
}

#introdetails{
    margin-top:3%;
    margin-left: 0.1%;
    width: 74%;
    font-size: 11pt;

    font-weight: bold;

    text-align: center;

    letter-spacing: .25pt;
}

.experience{
    display: inline-block;
}

.projects:hover, .experience:hover, .education:hover, .skills:hover, .resume:hover, .skills:hover{
    color: black;
    font-weight: bold;
}


#technicalintro1:hover,#technicalintro2:hover,#technicalintro3:hover, #leadershipintro1:hover, #leadershipintro2:hover, #volunteerintro1:hover, #volunteerintro2:hover{
    color: #1c73ff;
  -webkit-transition: color .5s ease-out;
  -moz-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;

  font-size: 17pt;
  -webkit-transition: font-size .5s ease-out;
  -moz-transition: font-size .5s ease-out;
  -o-transition: font-size .5s ease-out;
  transition: font-size .5s ease-out;
}

a:visited, h1:visited{
    color:black;
}



@font-face {
font-family: "test1";
src: url("opensans-light-webfont.woff");
}

@font-face {
font-family: "font2";
src: url("rajdhani.regular.woff");
}




a {
    background-color: transparent; 
    text-decoration: none;

}


.twitter{
    max-height: 30px;

}


.mail{
    padding-top: 10px;
    max-height: 30px;

}

.linkedin{
    max-height: 30px;

}

.social{
    margin-top: 20%;
    margin-left: 82%;

}

.learnmore:hover{
    background-color:#E3E3E3;
}

.learnmore{

    font-size: 12pt;

    margin-top: 45%;
    margin-left: 110%;
    border-style: solid;
    padding: 5px;
    text-align: center;
    border-width: 1pt;

    border-color: black;

    background-color: white;

    width: 130px;

    letter-spacing: 2px;
}

.navbar{
    text-align: left;
    font-family: 'test1';
    margin-left: 67%;
    margin-top: 1%;
    position: fixed;

    width:100%;

    font-size: 12pt;
}


.buiny{
    position: relative;
    margin-top: 10%;
    width: 15%;
    padding-left: 20%;
}

.bui{
    position: relative;
    width: 26.7%;
    padding-left:20px;
    padding-right:20px;
}

.buigrad{
    position: relative;
    width: 15%;
}