.skillstitle{
  z-index: 2;

  margin-top: 10%;
  font-size: 37pt;
  font-family: "test1";
  text-align: left;
  margin-left: 10%;

  font-weight: bold;

  padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    
    height:33px;
    width:960px;
    margin: 0 0 0 0; 
}

#home{
  top: 2%;
  right: 2%;
  position: fixed;
}

#projects{
  top: 5%;
  right: 2%;
  position: fixed;
}

#experience{
  top: 8%;
  right: 2%;
  position: fixed;
}

#resume{
  top: 11%;
  right: 2%;
  position: fixed;
}

#skillsnav{
  top: 14%;
  right: 2%;
  position: fixed;
}

@-keyframes grow-90{
   from { right: 100%; }
   to   { right: 10%; }
}

@-webkit-keyframes grow-90{
   from { right: 100%; }
   to   { right: 10%; }
}

@-keyframes grow-75{
   from { right: 100%; }
   to   { right: 25%; }
}

@-webkit-keyframes grow-75{
   from { right: 100%; }
   to   { right: 25%; }
}

@-keyframes grow-50{
   from { right: 100%; }
   to   { right: 50%; }
}

@-webkit-keyframes grow-50 {
   from { right: 100%; }
   to   { right: 50%; }
}

@-keyframes grow-30{
   from { right: 100%; }
   to   { right: 70%; }
}

@-webkit-keyframes grow-30 {
   from { right: 100%; }
   to   { right: 70%; }
}

@-keyframes grow-85{
   from { right: 100%; }
   to   { right: 15%; }
}

@-webkit-keyframes grow-85 {
   from { right: 100%; }
   to   { right: 15%; }
}

body { 
  background: white;
  background: -moz-radial-gradient(center, ellipse cover,  white 0%, white 90%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffeb95), color-stop(90%,white));
  background: -webkit-radial-gradient(center, ellipse cover,  white 0%,white 90%);
  background: -o-radial-gradient(center, ellipse cover,  white 0%,white 90%);
  background: -ms-radial-gradient(center, ellipse cover,  white 0%,white 90%);
  background: radial-gradient(ellipse at center,  white 0%,white 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#ffd576',GradientType=1 );
  font-family: 'test1';
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-family: 'test1', sans-serif;
  font-size: 1.8em;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  color: black;

}

#skills {
  margin: 100px auto 0 auto;
  position: relative;
  width: 98%;
  margin-left: 3%;
}

#apps {
  float: left;
  text-align: right;
  width: 19%;
  font-size: 12pt;
}

#apps p {
  position: relative;
  text-align: right;
  z-index: 2;
  margin-top:1%;
  line-height: 2.49em;
  padding-right: 10%;
}

#scale {
  padding-bottom: 30px;
  position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
}

#scale p {
  position: absolute;
    bottom: 0;
    left: -0.30%;
    top: 10%;
}

#scale p.one { left: 24%; }
#scale p.two { left: 49%; }
#scale p.three { left: 74%; }
#scale p.four { left: 99%; }

.grid {
  border-left: 1px dotted black;
  border-bottom: 1px dotted black;
  float: left;
  padding: 10px 0;
  position: relative;
  width: 60%;
}

.bar {
  float: left;
  height: 25px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.bar .inner {
  background-color: black;
  opacity: .7;
  position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
}

.bar.pct-90 .inner {  
  -webkit-animation-duration: 2s;
  -webkit-animation-name: grow-90;
  right: 10%;
}

.bar.pct-85 .inner {  
  -webkit-animation-duration: 5s;
  -webkit-animation-name: grow-85;
  right: 15%;
}

.bar.pct-75 .inner {  
  -webkit-animation-duration: 3s;
  -webkit-animation-name: grow-75;
  right: 25%;
}

.bar.pct-50 .inner {  
  -webkit-animation-duration: 5s;
  -webkit-animation-name: grow-50;
  right: 50%;
}

.bar.pct-30 .inner {  
  -webkit-animation-duration: 5s;
  -webkit-animation-name: grow-30;
  right: 70%;
}

.v-divider {
  border-right: 1px dotted black;
  position: absolute;
  left: 0;
  right: 25%;
  bottom: 0;
  top: 0;
  z-index: 0;
}

.v-divider.one { right: 75%; }
.v-divider.two { right: 50%; }

@font-face {
font-family: "test1";
src: url("opensans-light-webfont.woff");
}